/*
Colors used:
Dark blue: #0B1F53
Blush: #F5E8DB
Beige: #FFF7E2
*/

* {
  box-sizing: border-box;
}

header {
  padding: 10px 0;
  margin: 0 auto;
  border-bottom: 2px solid #0B1F53;
  text align: center;
  background-color: #FFFFFF;
}

nav > ul {
  list-style-type: none;
  padding: 0;
  display: inline-block;
  width: 100%;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-size: 22px;
  color: #0B1F53;
}

nav > ul > li > a:hover {
  transition: 0.3s;
  background-color: #FFF7E2;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 3.5em;
  font-weight: 400;
  line-height: 1.0;
  color: #0B1F53
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.75em;
  font-weight: 400;
  line-height: 1.0;
  color: #0B1F53
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2.5em;
  font-weight: 400;
  line-height: 1.0;
  color: #0B1F53
}

[class*="col-"] {
  float: left;
}

.row:: {
  content: "";
  clear:both;
  display:table;
}

.img {
  width: 1200px;
}

.button {
  display: inline-block;
  background-color: #FFF7E2;
  color: #0B1F53;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 1.5em;
  font-weight: 400;
  padding: 5px 10px;
  border-radius: 3px;
  border-style: solid;
  border-color: #0B1F53;
  text-decoration: none;
  transition-duration: 0.2s;
  transition-property: opacity;
}

.button:hover {
  transition: 0.2s;
  background-color: #F5E8DB;
  color: #0B1F53;
  border-style: solid;
  border-color: #0B1F53;
}

#aboutme h2 {
  margin-bottom: 0px;
}

/*Layout Styling*/
.container {
  padding: 0 20px;
  width: auto;
}

.row {
  margin: 25px 0;
}

.logo {
  max-width: 250px;
}


.lifeboat {
  font-family: 'Roboto', sans-serif;
}

@keyframes color-change {
  0% {fill: #edc655;}
  50% {fill: #fcffad;}
  100% {fill: #f76414;}
}

@@keyframes cloud-move {
  from {transform: translate(o,50px);}
  to {transform: translate(200px, 50px);}

}

@keyframes cloud-move-reverse {
  from {transform: translate(446px,48px);}
  to {transform: translate(100px, 48px);}
}

.sun {
  animation-duration: 4s;
  animation-name: color-change;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-front {
  animation-duration: 30s;
  animation-name: cloud-move;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: linear;
}

.cloud-back {
  animation: 34s cloud-move-reverse infinite alternate linear;
}


/*Medium devices*/
@media only screen and (min-width: 640px){
header {text-align: unset;}

nav {
  width: auto;
  float: right;
  margin-top: 4px:}
}

.col-md-6 {
  width: 50%;
  float: left;
}

/*Large devices*/
@media only screen and (min-width: 1024px) {
  .col-lg-7 {
    width: 60%;
    float: left;
}

.col-lg-5 {
  width: 40%;
  float: right;
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*X-large devices*/
@media only screen and (min-width: 1440px) {

}
