/*
Colors used:
Dark blue: #0B1F53
Blush: #F5E8DB
Beige: #FFF7E2
*/

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
  color: #000000;
}

h1 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 52px;
  font-weight: 400;
  line-height: 1.0;
  color: #0B1F53
}

h2 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 48px;
  font-weight: 400;
  line-height: 1.0;
  color: #0B1F53
}

h3 {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.0;
  color: #0B1F53
}

img {
  width: 100%;
}

.button {
  display: inline-block;
  background-color: #F5E8DB;
  color: #0B1F53;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 36px;
  font-weight: 400;
  padding: 10px;
  border-radius: 3px;
  border-style: solid;
  border-color: #0B1F53;
  text-decoration: none;
  transition: 0.3s;
}

.button:hover {
  opacity: 0.5;
  text-decoration: underline;
  transition: 0.3s;
}
